@using RazorLight
@using ReaperKing.Anhydrate.Models

@inherits TemplatePage<AnhydrateModel>
@functions {
    private string GetDocumentTitle()
    {
        if (String.IsNullOrEmpty(Model.DocumentTitle))
        {
            return Model.SectionName;
        }
        
        if (Model.OverrideDocumentTitle)
        {
            return Model.DocumentTitle;
        }

        return $"{Model.DocumentTitle} — {Model.SectionName}";
    }
    
    private string GetOpenGraphsTitle()
    {
        if (String.IsNullOrEmpty(Model.DocumentTitle))
        {
            return Model.SectionName;
        }
        
        return Model.DocumentTitle;
    }
}

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>@GetDocumentTitle()</title>

@if (!String.IsNullOrEmpty(Model.OpenGraphsType) && !String.IsNullOrEmpty(Model.OpenGraphsImage))
{
    <!-- Open Graphs metadata tags -->
    <meta property="og:title" content="@GetOpenGraphsTitle()" />
    @if (!String.IsNullOrEmpty(Model.DocumentTitle))
    {
        <meta property="og:site_name" content="@Model.SectionName" />
    }
    <meta property="og:type" content="@Model.OpenGraphsType" />
    <meta property="og:url" content="@Model.DocumentUri" />
    <meta property="og:image" content="@Model.OpenGraphsImage" />

    <!-- Twitter metadata tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="@Model.DocumentUri" />
    <meta property="twitter:title" content="@GetDocumentTitle()" />
    <meta property="twitter:image" content="@Model.OpenGraphsImage" />
}